/* This file is for your main application css. */
@import "./phoenix.css";

#logo {
  color:purple;
  text-align: center;
}
span {
  color: #00daff;
}
p {
  margin-bottom: 0px;
}


/*formatting chat box scrolling */
.chat {
  margin-top: 0em;
 }
 .chat-room {
  margin-top: 1em;
 }
 
 .panel-messages, .panel-users {
  height: 400px;
  overflow-y: scroll;
  background-color: #fafafa;
 }
 #chat-messages {
  min-height: 400px;
  overflow-y: scroll;
 }


/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}
